<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.db.LikesMapper">
	<select id="like_list" parameterType="com.smhrd.model.Likes" resultType="com.smhrd.model.Likes">
		select * from likes where mb_email=#{mb_Email}
	</select>
	<insert id="toggleLike" parameterType="com.smhrd.model.Likes">
		INSERT INTO likes (like_idx, mb_email, artist_email, created_at)
		VALUES (likes_SEQ.nextval, #{mb_Email}, #{artist_Email}, sysdate)
	</insert>
	
  </mapper>