<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.db.ReqMapper">
  
  
  <insert id="insertReq" parameterType="com.smhrd.model.Req" >
  	 INSERT INTO art_requests VALUES (art_requests_SEQ.nextval, #{mb_Email}, #{req_paper}, #{req_img_path}, #{req_receiver}, #{req_price}, sysdate)
  </insert>
  
  <select id="ReqAll" parameterType="String" resultType="com.smhrd.model.Req">
  	select * from art_requests where mb_email=#{mb_Email}
  </select>
  	
  <select id="get_req_list_receiver" parameterType="String" resultType="com.smhrd.model.Req">
  	select * from art_requests where req_receiver = #{artistEmail}
  </select>
  
  <select id="get_req_detail" parameterType="int" resultType="com.smhrd.model.Req">
  	select * from art_requests where req_idx=#{idx}
  </select>
  
  
  </mapper>
  